.project-constructor-left-column {
    width: 49%;
    float: left;
    margin-right: 2%;
}

.project-constructor-right-column {
    width: 49%;
}

.table .badge.sortable-grid .glyphicon {
    color: black;
}

.logo {
    width: 155px;
    height: 25px;
}

.header-main__logo {
    width: 170px;
    position: absolute;
    top: 33px;
    left: 25px;
    z-index: 10000;
}

.navbar-padding-for-logo {
    padding-left: 175px;
}

.content-append .select2-container {
    width: 100% !important;
}