.form-control .select2-choice .select2-arrow b {
    background: none;
}

#login-form .form-group.required .control-label::after {
    content: ' ';
}

.navbar a.active.navbar-brand::after {
    background-color: #28292a !important;
    width: 100%;
}

.table.detail-view td, .table.detail-view th, .table.detail-view tbody tr td:last-child {
    padding: 22px;
}

.modal-content .alerts-box {
    padding-top: 0;
}

.form-group input[type="file"] {
    margin-bottom: 25px;
}

.table tbody td .empty {
    padding: 16px
}

.no-checkbox-padding .form-group {
    margin: 0px;
    margin-bottom: 30px;
}

.no-checkbox-padding .form-group .checkbox {
    padding: 0px;
}

.table:not(.vertical-options) tbody tr td:last-child {
    padding-left: 22px !important;
}

.form-control .select2-choice .select2-arrow b {
    position: relative;
    background: none !important;
}

.btn-group a.btn {
    line-height: 48px;
    color: white;
}

.panel-default > .panel-heading {
    margin-bottom: 30px !important;
}

.panel-default {
    margin-top: 40px !important;
}

.navbar .navbar-nav.no-active-background > li > .dropdown-menu .active > a.dropdown-toggle,
.navbar .navbar-nav.no-active-background > li > .dropdown-menu .active > a {
    background: #fff;
    color: #a5a5a8;
}

.navbar .navbar-nav.no-active-background > li > .dropdown-menu .active > a.dropdown-toggle:hover,
.navbar .navbar-nav.no-active-background > li > .dropdown-menu .active > a:hover {
    background: #28292a;
    color: #fff;
}

.navbar .navbar-nav.no-active-background .dropdown .dropdown-submenu .dropdown-menu .active a {
    background: #28292a;
    color: #a5a5a8;
}

.navbar .navbar-nav.no-active-background .dropdown .dropdown-submenu .dropdown-menu .active a:hover {
    color: #fff;
}

.panel-body .btn.btn-danger {
    line-height: 46px;
    color: white;
}

.btn.btn-success {
    background: #28292a;
    line-height: 48px;
    color: white;
}

.btn.btn-primary {
    background: #979797;
    line-height: 48px;
}

.btn.btn-success:first-child, .btn.btn-primary:first-child {
    margin-left: 0;
}

.img-preview {
    margin: 0 0 0 30px;
}

.wrap > .navbar {
    position: relative;
}

/*----------------------------------------------------------*/

@media only screen and (max-width: 1400px) and (min-width: 1250px) {
    .navbar .navbar-header {
        padding-left: 15px;
    }
}

.navbar-brand {
    padding: 10px 23px 36px;
    text-align: center;
    z-index: 9;
    color: #a5a5a8;
}

.navbar-brand svg {
    fill: #a5a5a8;
}

.navbar .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px
}

.hidden-item {
    display: none;
}

.file-name {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0;
}

#map {
    height: 500px;
}

.nohover:hover {
    text-decoration: none;
}

.btn.create.export-request-button {
    /*margin-left: 796px;*/
    background-color: #979797;
    margin-right: 0;
    min-width: 215px;
}

.btn.create.export-request-button:hover {
    background-color: #0B0B0C;
}

.select2-container.select2-container-multi.form-control {
    height: auto;
}

.select2-search-choice-close {
    margin-top: -7px;
}

.btn.btn-primary, .btn.btn-template-builder, .btn.btn-template-builder-constructor {
    color: white;
    background-color: #28292a;
}

.btn.btn-primary:hover, .btn.btn-template-builder:hover, .btn.btn-template-builder-constructor:hover {
    background-color: #0B0B0C;
}

.btn-template-builder, .btn-template-builder-constructor {
    margin-top: -3px;
}

.template-builder > .form-group .btn-template-builder,
.template-builder-constructor > .form-group .btn-template-builder-constructor {
    margin-bottom: 0;
}

.template-builder > .form-group .btn-template-builder,
.template-builder-constructor > .form-group .btn-template-builder-constructor
{
    width: 19%;
    margin-left: 2.6%;
    float: right;
    margin-right: 0;
    margin-top: -59px;
}

.width-50 {
    width: 50%;
    display: inline-block;
    margin-right: 20px;
}

.input-constructor-meta-data {
    box-shadow: 0 0 0 2px #ededed !important;
}

.filled > .input-constructor-meta-data {
    background: #EDEDED !important;
    box-shadow: 0 0 0 0px #ededed !important;
    border-color: transparent !important;
}

.label-constructor-meta-data {
    color: #a5a5a8 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    height: 20px !important;
    padding: 20px 20px 0px 28px !important;
}

.template-builder .file-input,
.template-builder-constructor .file-input {
    box-shadow: 0 0 0 2px #ededed !important;
}

.label-constructor-meta-data-image-hint {
    color: #a5a5a8 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    height: 20px !important;
    padding: 0px 20px 0px 28px !important;
}

.col-sm-12.page-border {
    /*border: 2px solid white;*/
    margin-bottom: 15px;
    padding-top: 15px;
}

.col-sm-12.page-border img {
    margin-bottom: 15px;
}

.centered-image {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.select2-drop-filters .select2-results .select2-result:first-child .select2-result-label:before {
    content: "";
}

.form-group.content-append-constructor .form-control {
    background-color: initial;
}

.file-preview-frame {
    padding-top: 35px !important;
}

/*video uploader*/
.file-preview-frame {
    display: inline-block;
    float: none;
    min-width: 300px !important;
    height: 235px !important;
    position: relative;
    border: 1px solid #ededed;
    padding-top: 35px;
    margin: 0 2px 5px 0;
    background: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
    -webkit-transition: border 0.2s linear;
    transition: border 0.2s linear;
}

.file-preview-frame video {
    width: 280px !important;
    height: 170px !important;
}

#interior-product {
    width: 1170px !important;
}

#pin-img {
    background-image: url("/img/content/pin_icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 23px;
}

.loading-subcat {
    display: none;
}
.btn-template-builder-constructor {
    margin-top: -86px !important;
}