.no-link-pagination-dots {
    cursor: default;
}
.hide-svg {
    display: none;
}
.fayn-newss {width:16px;height:16px;}
.fayn-newss a {width:16px;height:16px;display: inline-block;vertical-align: middle;}
.fayn-instagram span {background-image:url('/uploads/a/403-instagram.png');background-size:cover;height:13px;width:13px;display:block;transition:0.5s;}
.fayn-youtube span {background-image:url('/uploads/a/414-youtube.png');background-size:cover;height:13px;width:13px;display:block;transition:0.5s;}
.fayn-instagram span:hover {background-image:url('/uploads/a/403-instagram-hover.png');;transition:0.8s;}
.fayn-youtube span:hover {background-image:url('/uploads/a/414-youtube-hover.png');transition:0.8s;}
.main-text h2 {font-size: 16px;margin-top: 20px;font-weight: 700;}
.main-text strong {font-weight:700} 
.single-f-blog img {max-width:100%;}