html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.fayn-newss {width:16px;height:16px;}
.fayn-newss a {width:16px;height:16px;display: inline-block;vertical-align: middle;}
.fayn-instagram span {background-image:url('/uploads/a/403-instagram.png');background-size:cover;height:13px;width:13px;display:block;transition:0.5s;}
.fayn-youtube span {background-image:url('/uploads/a/414-youtube.png');background-size:cover;height:13px;width:13px;display:block;transition:0.5s;}
.fayn-instagram span:hover {background-image:url('/uploads/a/403-instagram-hover.png');;transition:0.8s;}
.fayn-youtube span:hover {background-image:url('/uploads/a/414-youtube-hover.png');transition:0.8s;}
.main-text h2 {font-size: 16px;margin-top: 20px;font-weight: 700;}
.main-text strong {font-weight:700} 

/**/ 
 .single-f-blog .page-title {text-align:center;}
 .single-f-blog .img {max-width:100%;}
 .single-f-blog .one-proj__img-w {margin-top:0;}
 .single-f-blog .one-proj__text {margin-top:0;}
 .single-f-blog .one-proj__text strong {font-weight:bold;}
 .single-f-blog .one-proj__text a {text-decoration:underline;}
 .single-f-blog .one-proj__text a:hover {text-decoration:none;}
 .single-f-blog .one-proj__text p {width:100% !important;color:#413c3c;font-size:16px;font-family:Arial;}
 .single-f-blog .one-proj__text p:not(:first-child) + p {margin-top:10px;}
 .single-f-blog .one-proj__text ul li {width:100% !important;list-style-type:disc !important;display:list-item;color:#413c3c;font-size:16px;font-family:Arial;list-style-position: inside;}
 .single-f-blog .one-proj__text h2 {font-size:24px; margin-top:20px;margin-bottom:10px;font-family:"TimesNewRomanPSMT","Times New Roman",serif;text-align:center;color:#343332;text-transform:uppercase;font-weight:400;}
 .single-f-blog .one-proj__text h3 {font-size:20px; margin-top:15px;font-family:"Arial", "Times New Roman", sans-serif;text-align:center;}
 .f-blog .projects__info-caption p {color:#000;font-size:12px;}
 .f-blog .projects__info-caption {font-size:16px;}